@import "../../../scss/variables";

.hero {
    display: flex;
    justify-content: center;
    padding: $hero-padding;
    position: relative;
    
    &__text {
        padding: $hero-text-padding;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 3rem;

        & h1 {
            font-weight: 300;
            font-size: $fs-hero-h1;
            line-height: 7rem;  
        }

        & p {
            padding-bottom: 4.5rem;;
        }
    }
}

.bold {
    font-weight: $fw-extrabold;
}

.pink {
    @include gradient-text;
}

.circle-hero {
    position: absolute;
    bottom: -3.6rem;
    left: 48rem;
    z-index: -1;
}
