// Add colors here

// Brand
$bg-primary: #57007B;
$bg-secondary: #F76680;
$bg-tertiary: #FF92AE;
$bg-success: #66CB9F;
$bg-warning: #F7936F;
$bg-danger: #F16063;
$bg-info: #68DBF2;
$bg-dark:#16192C;

// Gray colors
$bg-gray-50: #FAFAFA;
$bg-gray-100: #F7FAFC;
$bg-gray-200: #EDF2F7;
$bg-gray-300: #E2E8F0;
$bg-gray-400: #CBD5E0;
$bg-gray-500: #A0AEC0;
$bg-gray-600: #718096;
$bg-gray-700: #4A5568;
$bg-gray-800: #2D3748;
$bg-gray-900: #1A202C;

// Base colors:
$bg-black-100: #000000;
$bg-white: #FFFFFF;

$services-bk: #F9F9FF;
