// Imports

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

// Font families

$inter: "Inter";

// Font sizes

$fs-nav-link: 1.6rem;
$fs-btn: 1.4rem;

$fs-hero-h1: 5rem;
$fs-hero-p: 1.8rem;

$fs-services-heading: 3.5rem;
$fs-services-title: 2rem;
$fs-services-p: 1.4rem;

// Font weights

$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
$fw-extrabold:800;

// To add line-height

$lh-hero-p: 3.6rem;

$lh-small: 18px;
$lh-medium: 24px;
$lh-big: 28px;
$lh-gigant: 100px;