@import './colors';
@import './typography';

// Paddings

$header-padding-left: 15rem;

$nav-padding: 3rem 2.5rem 3rem 4rem;
$nav-btn-padding: 1.5rem 2.5rem;
$nav-btn-radius: 0.5rem;

$hero-padding: 7rem 6rem 9rem 10rem;
$hero-text-padding: 10rem 0;


// Borders

$button-border-radius: 0.8rem;