@import "../../../scss/variables";


.heading__line {
    text-align: center;
    & img {
        padding-bottom: 2rem;
    }
}

.main-h {
    font-size: $fs-services-heading;
    line-height: 5.5rem;
}

.heading--bold {
    font-weight: $fw-bold;
}

.heading--normal {
    font-weight: $fw-regular;
}