@import "../../../scss/variables";

.services {
    background-color: $services-bk;
    font-family: $inter;
    z-index: 2;

    & h2 {
        text-align: center;
        padding-top: 4.5rem;
        padding-bottom: 2.7rem;
    }


    &__carousel {
        display: flex;
        gap: 4rem;
        padding: $services-padding;
    }
}