@import "../../../scss/variables";

.services {
    z-index: 2;
    border-top: 1px solid $bg-border;
    border-bottom: 1px solid $bg-border;
    background-color: $services-bk;

    & h2 {
        text-align: center;
        padding-top: 4.5rem;
        padding-bottom: 2.7rem;
    }


    &__carousel {
        display: flex;
        gap: 4rem;
        padding: $services-padding;
    }
}