@import "../../../scss/variables";

.dev__card {
    background-color: $bg-gray-50;
    border: 1px solid #E7DAED;
    padding: 6rem 3.5rem 4rem 3.4rem;
    display: flex;
    gap: 2.5rem;
    cursor: pointer;

    & img {
        padding: 1rem;
        border-radius: 1rem;
        align-self: self-start;
    }

    &__text {
        & h3 {
            font-size: 2rem;
            font-weight: $fw-semibold;
            padding-bottom: 1rem;
            color: $bg-gray-900;
        }

        & p {
            color: $bg-gray-700;
            font-size: $fs-services-p;
            line-height: 2.2rem;
        }
    }
}