@import "../../../scss/variables";

.moreBtn {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: $inter;
    font-weight: $fw-medium;
    color: $bg-primary;
    font-size: 1.6rem;
    line-height: 2.5rem;
    cursor: pointer;
}
   
