@import './scss/reset.scss';
@import "./scss/variables";

.app {
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $inter;
}

button {
    font-family: inherit;
}