@import "../../../scss/variables";

.about {
    display: flex;
    gap: 9.5rem;
    padding-top: 18rem;
    padding-bottom: 16rem;
    position: relative;

    &__left {

        padding-left: 10rem;
        
        & .main-p {
            padding-top: 3rem;
            padding-bottom: 5rem;
        }
    }

    & img {
        padding-right: 10rem;
    }
}

.circle-about {
    position: absolute;
    top: -3.6rem;
    left: 10rem;
    z-index: -1;
}

.moreBtn {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: $fw-medium;
    color: $bg-primary;
    font-size: 1.6rem;
    line-height: 2.5rem;
    cursor: pointer;
}

