@import "../../../scss/variables";

.btn-atom {
    padding: $nav-btn-padding;
    color: $bg-gray-50;
    border-radius: $nav-btn-radius;
    border: none;
    font-weight: $fw-semibold;
    cursor: pointer;
}

.btn-gradient {
    background: linear-gradient(225deg, $bg-secondary 0%, $bg-primary 100%);

    &:hover {
        background: linear-gradient(225deg, $bg-tertiary 0%, $bg-random 100%);
    }
}

.btn-purple {
    background-color: $bg-primary;

    &:hover {
        background: linear-gradient(225deg, $bg-secondary 0%, $bg-primary 100%);
    }
}

