@import "../../../scss/variables";

.resources {
    padding-bottom: 7.5rem;

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding-top: 6.6rem;
   }   
}